@import "../style-variables";

.PropertiesPanel {
    background-color: $surfaceColor;
    padding: 2px;
    width: 320px;
    box-shadow: -1px 0px 3px #000;
}

.PropertiesPanel > section {
    margin-left: 5px;
    font-weight: normal;
}